<a href="https://colab.research.google.com/github/anoopjakob/AI_Lab_7_Naive_Bayes/blob/main/A_7_Naive_Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.In this lab, you are going to implement Naive Bayes algorithm using the following
”Zoo” data set.

The Zoo data set taken from UCI data repository contains data items that describe
animals according to certain attributes that categorize them under 7 different classes.

This data set consists of 101 animals from a zoo. There are 17 variables with various
traits to describe the animals. The 7 Class Types are: Mammal, Bird, Reptile, Fish,
Amphibian, Bug and Invertebrate.
Implement Naive Bayes algorithm to predict the class of the animals, based upon the
variables.

For building the model, split the data set into train set and test set (80:20). Use the
train set to build the model and the report the accuracy of your model using the test
data.

The data set and information about the same is uploaded in Google classroom. You
can download from there.

In [ ]:
# Importing the necessary libraries

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

%matplotlib inline

In [ ]:
zooDF =  pd.read_csv('/content/drive/MyDrive/Classroom/M1 AI - Artificial Intelligence Lab - 2020-21 Semester 1 M.Tech – AI (2020 M.tech admission)/Anoop Jacob - zoo_data_set')
zooDF.columns=['animal_name', 'hair', 'feathers', 'eggs', 'milk', 'ariborne', 'aquatic', 'predator', 'toothed', 'backbone', 'breathes',
               'venomous', 'fins', 'legs', 'tail', 'domestic', 'catsize', 'type']

zooDF

   animal_name  hair  feathers  eggs  milk  ...  legs  tail  domestic  catsize  type
0     antelope     1         0     0     1  ...     4     1         0        1     1
1         bass     0         0     1     0  ...     0     1         0        0     4
2         bear     1         0     0     1  ...     4     0         0        1     1
3         boar     1         0     0     1  ...     4     1         0        1     1
4      buffalo     1         0     0     1  ...     4     1         0        1     1
..         ...   ...       ...   ...   ...  ...   ...   ...       ...      ...   ...
95     wallaby     1         0     0     1  ...     2     1         0        1     1
96        wasp     1         0     1     0  ...     6     0         0        0     6
97        wolf     1         0     0     1  ...     4     1         0        1     1
98        worm     0         0     1     0  ...     0     0         0        0     7
99        wren     0         1     1     0  ...     2     1         0        0     2

[100 rows x 18 columns]

In [ ]:
Animal_type = ['Mammal', 'Bird', 'Reptile', 'Fish', 'Amphibian', 'Bug', 'Invertibrate']

In [ ]:
# naive bayes

      hair  feathers  eggs  milk  ariborne  ...  fins  legs  tail  domestic  catsize
type                                        ...
1       38         0     1    40         2  ...     4   134    35         8       31
2        0        20    20     0        16  ...     0    40    20         3        6
3        0         0     4     0         0  ...     0     8     5         0        1
4        0         0    13     0         0  ...    13     0    13         1        4
5        0         0     4     0         0  ...     0    16     1         0        0
6        4         0     8     0         6  ...     0    48     0         1        0
7        0         0     9     0         0  ...     0    37     1         0        1

[7 rows x 16 columns]