<a href="https://colab.research.google.com/github/anoopjakob/AI_Lab_7_Naive_Bayes/blob/main/Naive_Bayes_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

edureka: youtube video 

naive bayes analysis : predictive analysis

comprises of two terms : naive and bayes

naive: assumes that the presence of a particular feature in the class is unrelated to the presence of any other feature even if the features depend on each other . all of the features contribute independently to the probability.

**Bayes Theorem**

Given a hypothesis $H$ and evidence $E$ , Bayes theorem states that the relationship between the probability of the hypothesis before  getting the evide $P(H)$ and the probability of the hypothesis after getting the evidence $P(H|E)$ is :


> $ P(H|E) = \frac{P(E|H).P(H)}{P(E)}  $


* Posterior: $P(H|E)$ : how prabable is the our hypothesis given the observed evidence? (not directly computable)
   
* Likelihood: $P(E|H)$ : How probable is the evidence, given that our hypothesis is true?
* Prior: $P(H)$ : How probable was our hypothesis before observing the evidence ?
* Marginal: $P(E)$ : How probable is the new evidence under all possible hypothsis?

**Naive Bayes working**
PIMA INDIA - DIABETES

In [129]:
import random 
import pandas as pd
import random
import csv 
import math

In [130]:
diabetesDF = pd.read_csv('/content/drive/MyDrive/AI-ML/diabetes.csv')
diabetesDF

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [131]:
def loadCsv(filename):
  lines = csv.reader(open(r'/content/drive/MyDrive/AI-ML/diabetes.csv'))
  dataset = list(lines)
  
  for i in range(len(dataset)):
    dataset[i] = [float(x) for x in dataset[i]]
  
  return dataset

In [132]:
# splitting the data randomly in the a paritcular ratio for training and testing

def spitDataset(dataset, splitRatio):
  trainSize = int(len(dataset)*splitRatio)
  trainSet = []
  copy = list(dataset)
  while len(trainSet) < trainSize:
    index = random.randrange(len(copy))
    trainSet.append(copy.pop(index))
  return [trainsSet, copy]

In [133]:
zooDf =  pd.read_csv('/content/drive/MyDrive/Classroom/M1 AI - Artificial Intelligence Lab - 2020-21 Semester 1 M.Tech â€“ AI (2020 M.tech admission)/Anoop Jacob - zoo_data_set', 
                     names=['animal_name', 'hair', 'feathers', 'eggs', 'milk', 'ariborne', 'aquatic', 'predator', 'toothed', 'backbone', 'breathes',
                    'venomous', 'fins', 'legs', 'tail', 'domestic', 'catsize', 'type'])

zooDf

    animal_name  hair  feathers  eggs  ...  tail  domestic  catsize  type
0      aardvark     1         0     0  ...     0         0        1     1
1      antelope     1         0     0  ...     1         0        1     1
2          bass     0         0     1  ...     1         0        0     4
3          bear     1         0     0  ...     0         0        1     1
4          boar     1         0     0  ...     1         0        1     1
..          ...   ...       ...   ...  ...   ...       ...      ...   ...
96      wallaby     1         0     0  ...     1         0        1     1
97         wasp     1         0     1  ...     0         0        0     6
98         wolf     1         0     0  ...     1         0        1     1
99         worm     0         0     1  ...     0         0        0     7
100        wren     0         1     1  ...     1         0        0     2

[101 rows x 18 columns]

In [134]:
zooDataset = zooDf.values.tolist()
zooDataset[0:10]

[['aardvark', 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 4, 0, 0, 1, 1],
 ['antelope', 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 4, 1, 0, 1, 1],
 ['bass', 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 4],
 ['bear', 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 4, 0, 0, 1, 1],
 ['boar', 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 4, 1, 0, 1, 1],
 ['buffalo', 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 4, 1, 0, 1, 1],
 ['calf', 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 4, 1, 1, 1, 1],
 ['carp', 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 4],
 ['catfish', 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 4],
 ['cavy', 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 4, 0, 1, 0, 1]]

In [135]:
animal_names = []

for row in zooDataset:
    name = row.pop(0) # only run once
    animal_names.append(name)

In [136]:
# only run once
target_dataset =[]
for row in zooDataset:
  target = row.pop(-1)
  target_dataset.append(target)

In [137]:
zoo_train_dataset = zooDataset[:80]
zoo_test_dataset = zooDataset[80:] 

train_target = target_dataset[:80]
test_target = target_dataset[80:]

In [138]:
from sklearn import datasets
from sklearn import  metrics
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB, CategoricalNB

In [139]:
model = CategoricalNB()
model.fit(zoo_train_dataset, train_target)

CategoricalNB(alpha=1.0, class_prior=None, fit_prior=True)

In [140]:
expected = test_target

predicted = model.predict(zoo_test_dataset)

In [141]:
print(metrics.classification_report(expected, predicted))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00         5
           2       0.80      1.00      0.89         4
           3       0.00      0.00      0.00         3
           4       1.00      1.00      1.00         3
           5       0.33      1.00      0.50         1
           6       0.50      1.00      0.67         2
           7       1.00      0.33      0.50         3

    accuracy                           0.76        21
   macro avg       0.66      0.76      0.65        21
weighted avg       0.74      0.76      0.71        21

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [142]:
print(metrics.confusion_matrix(expected, predicted))

[[5 0 0 0 0 0 0]
 [0 4 0 0 0 0 0]
 [0 1 0 0 2 0 0]
 [0 0 0 3 0 0 0]
 [0 0 0 0 1 0 0]
 [0 0 0 0 0 2 0]
 [0 0 0 0 0 2 1]]